body {
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

a {
    color: white;
    text-decoration: none;
}

header img {
    width: 300px;
    height: 300px;
    border-radius: 25%;
    border: 5px solid #5DBE42;
}

.center {
    text-align: center;
}

h1 {
    color: #5DBE42;
}

footer img {
    width: 40px;
    height: 40px;
}

footer {
    display: flex;
    justify-content: center;
}

footer a {
    margin: 20px;
    text-align: center;
}

footer p {
    margin-top: 2px;
}

.container {
    padding: 0px 50px;
}

h2 {
    font-size: 20px;
}

a:hover {
    color: #5DBE42;
}

.contact-form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}

.contact-form input[type=text] {
    height: 100px;
}

button {
    color: black;
    background-color: white;
    border: none;
    height: 30px;
    width: 100px;
    border-radius: 8px;
}